* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('images/starry-sky-389083_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: ;   
/* ===== image doesn't repeat well, can see seam, so went with fuzzy version to cover =====*/
}

.banner {
    width: 940px;
    margin: auto;
    padding: 10px 10px 20px 10px;
    background-color: #0D278F;
}

.banner h1 {
    font-family: 'Diplomata SC', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
 
}

/* ================ start Navbar styles =========== */
.navbar {  
    width: 960px;
    margin: auto;
}

.navbar ul {
    display: table; 
    width: 960px; 
}

.navbar li {
    display: table-cell;
    width: 20%;
}

.navbar a {
    display: table-cell;
    width: 20%;
    background-color: #5261C7;
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;    
}

a:hover {
    color: white;
    background-color: #48D3E8;   
}

/* ========= learn how to make the li that viewer is on look different? ===== */
.navbar li a:active {
    background-color: 
}

/*-------------------- end Navbar styles --------------------*/

#content {
    width: 960px;
    margin: auto;
    float: none;
    background-color: white;
}
/* ======== learn how to get the two columns' backgrounds extend to align at bottom? ======= */

/* ================ start Item styles - these are the recipes =========== */
.item {
    width: 480px;
    float: left;
    margin: 0px;
    padding: 20px 20px 0px 20px;
    background-color: white;  /* === so body background isn't inherited == */
}

.item h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #0D278F;
    margin-bottom: 16px;
}

.item h3 { 
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 18px;
    color: #0D278F;
}

.item {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    float: left;
}

.item p {
    margin-bottom: 20px;
    line-height: 22px;
}

.item figure {
    float: right;
    margin-left: 16px;
}

.item figcaption {
    font-family: sans-serif;
    font-size: 10px;
    margin-bottom: 20px;
}

.item figure a {
    color: #5261C7; 
    font-weight: bold;
    text-decoration: none;   
}

.item ul {
    list-style-type: none;
    margin-bottom: 20px;
}

/* ================ start Sidebar styles =========== */
.sidebar {
    width: 380px;
    float: right;
    padding: 20px 30px;
    background-color: #A7B0D1; 
}

.sidebar h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #0D278F;
}

.sidebar p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sidebar figure img {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.sidebar figcaption {
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar figure a {
    color: #5261C7; 
    font-weight: bold;
    text-decoration: none;   
}


